* {
	margin:0px;
	padding:0px;
	box-sizing:border-box; 
	font-family: "Montserrat";
}



body {
	background: white;
}

.section {
	min-height:60vw;

}

/* THIS IS THE FIRST SECTION*/

.first-section {
	background:url('images/hero.png');
	background-size: 100% 100%;
	background-position: center;
	min-height: 57vw;
	/*filter: brightness(0.5);*/
}

.first-section-title,.first-section-body{
	margin:0px auto;
}

.first-section-title{
	width:90%;
	padding-top:1vw;
	/*background: black;*/
	min-height:6vh;
	display: flex;
	justify-content: space-between;	
	align-items: center;
}

.left-sub-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*background:red;*/
	gap:40px;
}

.brand-links{
	/*background:green;*/
	display: flex;
	justify-content: space-between;
}

.list {
	margin: 20px;
	list-style: none;
}

a {
	text-decoration: none;
	color:white;
	display: inline-block;
	/*background :red;*/
}

.brand-name > li >  a {
	font-weight: 700;
	font-size:40px;
}

.brand-links > li > a,.right-sub-title > li > a,.right-sub-title > button, .first-section-body > p{
	font-weight: 500;
	/*color:yellow;*/
	font-size: 20px;
}

.right-sub-title{
	/*background: red;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*gap:40px;*/
}

.right-sub-title > button {
	color:white;
	font-weight: 600;
	margin:20px;
	border:none;
	padding:20px;
	background:rgb(35, 164, 237);
	border-radius: 4px ;
}

.first-section-body{
	/*background: red;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 40%;
	align-items: center;
	text-align: center;
	height: 30vw;
	color:white;
}

.first-section-body > h1 {
	font-size: 70px;
	margin-top: 10vw;
}

.first-section-body > p {
	/*border:4px solid yellow;*/
	font-size: 25px;
	padding:40px;
}

.buttons{
	display: flex;
	justify-content: space-between;
	gap:20px;
}

.buttons > button {
	padding: 20px;
	color:white;
	font-weight: 600;
	font-size:20px;
	border-radius:30px;
}


.button-one {
	background:rgb(35, 164, 237);
	border:none;
}

.button-two {
	border: 2px solid white;
	background:transparent;
}



/*THIS IS THE SECOND SECTION*/

.second-section {
	background:rgb(247, 247, 247);
	min-height:15vw;
}


.second-section-container{
	/*background-color:red;*/
	margin:0px auto;
	width: 80%;
	display: flex;
	justify-content: space-between;

}


/*The boxes that contain peace of mind,set for life ...*/
.second-sub-section{
	/*display: none;*/
	margin-top: -5vw;
	padding:2vw;
	color:back;
	padding-left:3vw;
	background:white;
	width:30%;
	flex-wrap: wrap;
	height:14vw;
	/*border:4px solid yellow;*/
	box-shadow: 1px 1px 50px rgb(39,39,39,0.3);
}

.second-sub-section > p {
	color:grey;
	font-size: 1vw;
	padding:20px 80px 0px 0px;
}


.second-section-icon {
	height: 80px;
}


/*THIS IS THE THIRD SECTION*/

.third-section {
	background:white;
	min-height:20vw;
	display: flex;
	justify-content: center;
	align-items: center;
}


.third-section-container{
	margin:0px auto;
	width: 80%;
	display: flex;
	justify-content: space-between;
	/*align-items: center;*/
}


/*The boxes that contain peace of mind,set for life ...*/
.third-sub-section{
	padding:2vw;
	width:30%;
	flex-wrap: wrap;
	height:14vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.third-sub-section > p { 
	color:grey;
	font-size: 1vw;
}


.third-section-icon {
	max-height: 100px;
	/*margin: 20px; */
}


.fourth-section{
	min-height: 30vw;
	background:rgb(247, 247, 247);
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	flex-direction: column;
	/*align-items: center;*/
}

.fourth-header{
	margin:6vh;
	/*background:yellow;*/
	width: 60vw;
	padding:20px;
	text-align: center;
}

.fourth-header > h1 {
	padding: 20px;
	font-size:58px;
} 
.fourth-header > p {
	color: grey;
	font-size: 20px;
	padding:0px 80px 0px 100px;

}


.ratings-container {
	display: flex;
	justify-content: center; 
}
.fourth-ratings {
	width: 75%;
	display: flex;
	justify-content: center;
	gap:3vw;
	/*min-height:34vw;*/
}



.rating-user{ /*Each independent user box*/
	height: 31vw;
	background:white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border:2px solid rgb(39,39,39,0.2);
	border-radius: 14px;
	/*padding:3vw;*/
}

.rating-user > img {
	height: 12vw;
	width: 12vw;
}

.rating-user > p {
	color: rgb(39,39,39,0.7);
	text-align: center;
	font-size: 23px;
	margin: 40px 62px;
}


.rating-stars{
	/*background:red;*/
	/*height:400px;*/
}
.rating-stars > img {
	height:3vh;
	/*height:400px;*/
}

/*This is the fifth section*/


.fifth-section {
	margin-top:20vw;
	/*height: 10vh;*/

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap:10vh;
}


.partners-container {
	/*background:blue;*/
	width: 76%;
	display: flex;
	justify-content: space-between;
	gap:1vw;
}


.partners-container > img {
	height: 8vh;
}

.newsletter-container{
	background: linear-gradient(to right, #004586,#553186, #CE1487);
	color:white;
	width: 76%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.subscribe-message,.email-section{
	/*margin:40px 50px;*/
	/*border: 4px solid red;*/
	height: 100%;
	display: flex;
	align-items: center;
}

.subscribe-message{
	width: 30%;
	padding:20px 40px;
}


.email-section{
	justify-content: center;
	height:14vh;
	width:50%;
	display: flex;
	justify-content: center;
}

.email-section > input {
	height: 70%;
	width: 70%;
	border:none;
	border-radius: 8px 0px 0px 8px ;
	background: white;
}

input[type="text"] {
	padding:20px;
	font-size: 20px;
	color:grey;
}

.email-section > button {
	color:white;
	font-size: 20px;
	height: 70%;
	border:1px solid white;
	border-radius: 0px 8px 8px 0px ;
	background:rgb(35, 164, 237);
	padding:10px;
} 


/*.second-section,.first-section,.third-section,.fourth-section{
	display: none;
} */

/*This is the pricing section*/
.pricing-section{
	min-height:120vh;
}

.pricing-container{
	display: flex;
	background:rgb(247, 247, 247);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap:10px;
	margin-bottom: 20vh;

}


.pricing-header{
	text-align: center;
	margin:13vh auto;
}

.pricing-header > h1 {
	font-size: 58px;
	color:rgb(37, 42, 65);
	padding:20px;
}

.pricing-header > p {
	color: rgb(39,39,39,0.6);
	font-size:23px; 
	width: 100%;
}

.pricing-cards-container{
	display: flex;
	justify-content: center;
	/*align-items:center;*/
	width: 90%;
	min-height: 110vh;
	gap:4px;
}

.pricing-card{
	border:1px solid rgb(35, 164, 237);
	border-radius: 8px; 
	background: rgb(37, 42, 65);
	width: 30vw;
	min-height:90vh;
	display: flex;
	color:white;
	flex-direction: column;
	align-items: center;
	gap:6vh;
	padding:80px 10px;
}

.pricing-push{
	color:rgb(37, 42, 65);
	margin-top: 8vh;
	background: white;
}


.sub-package{
	text-align: center;
}

.sub-package-description{
	font-weight: 800;
	width: 50%;
	text-align: center;
	font-size: 23px;
	/*padding:15px;*/
	color:rgb(39,39,39,0.6);
}


.sub-price-amount{
	width: 100%;
	padding:20px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap:2vh;
}

.amount-num,.amount-description{
	color:rgb(35, 164, 237);
	font-weight: 600;
}
.amount-num{
	font-size:30px;
}
.amount-description{
	font-size:23px;
	display: flex;
	flex-direction: column;
	gap:7px;
}


.sub-items{
	/*background: green;*/
	width: 100%;
}

.sub-list-item{
	margin:20px;
	/*border: 4px solid yellow;*/
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	/*gap:20px;*/
}

.image-left{
	width: 15%;
	/*border: 4px solid cyan;*/
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-left > img {
	width: 50px;
	height: 40px;
}

.image-description{
	/*border:4px solid blue;*/
	color:rgb(37, 42, 65);
	font-size: 23px;
	width: 80%;
	font-weight: 500;
}


.white{
	color:white;
}


.try-button{
	width: 80%;

}


.try-button > button{
	border-radius: 8px;
	color:white;
	font-size: 25px;
	width: 100%;
	border: none;
	background:rgb(35, 164, 237);
	padding:20px;
}




/*This is the seventh section*/
.seventh-section{
	background:rgb(37, 42, 65);
	width: 100%;
	/*gap:500px;*/
	display: flex;
	height: 100vh; 
	justify-content: center;
	/*align-items: center;*/
	gap:3vw;
}


.text-section,.worldmap{
	max-height: 50%; 
	margin:2vw;
}

.text-section{
	color:white;
	/*border:4px solid red;*/
	width: 40%;
	padding:20px;
}

.text-section > h1{
	font-size: 50px;
	padding:20px;
}


.text-section > p{
	font-weight: 200;
	font-size: 23px;
	padding:10px 20px;
}



.worldmap {
	width: 40%;
}


.worldmap > img{
	width: 90%;
	height: 80%;
}





/*This is the book appointment section*/
.form-section{
	min-height:60vh;
	background:rgb(247, 247, 247);
	/*background: black;*/
	display: flex;
	justify-content: center;
	/*align-items: center;*/
}


.form-section-container{
	background:white;
	margin-top:-30vh;
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-image-container,.form-section-wrapper{
	padding:20px;
	background: white;
	height: 100%;
}


.form-image-container{
	background-image: url(images/contact.png);
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.form-image-container{
	width: 37%;
}

.form-section-wrapper{
	width: 70%;
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
	gap:20px;
	/*background: red;*/
}
.form-section-wrapper > h1{
	margin-top:20px;
}



.form-input-holder{
	padding:5px;
	/*background: yellow;*/
	width: 90%;
	display: flex;
	flex-direction: column;
	gap:10px;
}

.form-input-holder > label {
	font-size: 20px;
	color:rgb(37, 42, 65);
	font-weight: 600;
}

.form-input-holder > input,.form-input-holder > select{
	background:rgb(247, 247, 247);
	border:1px solid rgb(27, 27, 27,0.3);
	border-radius: 8px;
	width:100%;
}

.form-input-holder > select{
	padding: 20px;
	font-size: 20px; 
	color:rgb(27, 27, 27,0.5);
	font-weight: 500;
}


input[type="text"] {
	font-weight: 500;
}

.form-input-holder > button{
	padding:25px;
	border: none;
	background:rgb(35, 164, 237);
	border-radius: 8px;
	color: white;
	font-weight: 600;
	font-size:20px;
}


/* This is the Consulting Section*/
.consulting-section{
	background:rgb(247, 247, 247);
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.consulting-container{
	padding:20px;
	width: 76%;
	height: 40%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.consulting-section-right,.consulting-section-left{
	/*border:4px solid red;*/
	min-width: 20%;
	min-height:4vw;
}

.consulting-section-right > button {
	padding:25px;
	width: 100%;
	border: none;
	background:rgb(35, 164, 237);
	border-radius: 8px;
	color: white;
	font-weight: 600;
	font-size:20px;
}

.consulting-section-left{
	display: flex;
	flex-direction: column;
	gap:10px;
}

.consulting-section-left > h1 {
	color:rgb(37, 42, 65);
}
.consulting-section-left > p {
	color: rgb(39,39,39,0.6);
	font-size: 20px;
}

/* This is the info Section*/
.info-section{
	height: 40vh;
	/*background: green;*/
	width: 76%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	gap:2vw;
	/*border: 3px solid yellow;*/
}

.info-sub-section{
	/*border: 1px solid red;*/
	height:80%;
	width: 19vw;
}

.info-sub-section > h1 {
	padding:20px;
	font-size: 24px;
	/*color:rgb(39,39,39,0.9); */
	font-weight: 600;
}

.info-sub-section > p {
	color:rgb(39,39,39,0.6);
	font-weight: 500;
	font-size: 20px; 
	padding:10px 20px ; 
}